.datum {
  display: flex;
  align-items: center;

  .label {
    font-weight: bold;
    width: 90px;
  }

  .value {
    border-bottom: 2px solid var(--fg);
    flex: 1;
    padding: 0 4px;
  }
}

.abilityDatum {
  display: flex;
  column-gap: 2px;
  align-items: center;

  .score {
    border: 1px solid;
    padding: 2px;
    width: 20px;
    text-align: center;
  }

  .label {
    width: 30px;
  }

  .adjustment {
    width: 20px;
    text-align: center;
  }

  .adjustmentLabel {
    flex: 1;
    font-size: 0.8em;
  }
}

.itemDatum {
  display: flex;
  column-gap: 2px;
  align-items: center;
  font-size: 0.8em;

  .status {
    width: 20px;
    text-align: center;
  }
  .equipped {
    width: 20px;
    text-align: center;
  }
  .category {
    width: 20px;
    text-align: center;
  }
  .name {
    flex: 1;
  }
  .qty {
    width: 25px;
    text-align: right;
  }
}
