:root {
  --bg: white;
  --fg: black;
  --shadow-color: 0, 0, 0;
  --shadow-opacity: 0.4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --fg: white;
  }
}

html,
body {
  background-color: var(--bg);
  color: var(--fg);
  margin: 0;
  padding: 0;
}
